@import "bootstrap";

body {
	nav {
		@extend .bg-light;
		@extend .navbar-light;
		@extend .border-dark;
	}
}

body.dark {
	@extend .bg-dark;
	@extend .text-white;

	nav {
		@extend .navbar-dark;
		@extend .border-light;
		background-color: #111519 !important;
	}

	.card {
		background-color: #343a40;
		border-color: rgba(255,255,255,0.125);
	}

	.card-footer { background-color: rgba(0,0,0,0.15); }
}
