---
title: Awesome Series
header: series
---
- data.series.reverse.each do |series|
	- details = data.details.series[series.tmdb]
	= partial :media_card, locals: { title: details.name, img_path: 'series', description: details.overview, watched: series.watched, date: details.first_air_date[0,4], imdb: series.imdb, tmdb: "tv/#{series.tmdb}", tags: details.genres.map(&:name) }
